@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1 class="display-4">Bleakwind Buffet</h1>
<p>We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!.</p>
<form id="menu-database">
    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search">
    </div>
    <div id="filters">
        <h4>Category</h4>
        @foreach (String category in BleakwindBuffet.Data.Menu.Categories)
        {
            <label>
                <input type="checkbox" name="Category" value="@category" checked="@Model.Categories.Contains(category)" />
                @category
            </label>
        }
        <h4>Price</h4>
        <div>
            Between
            <input name="minPrice" type="number" min="0" max="1000" step="1" placeholder="min" />
            and
            <input name="maxPrice" type="number" min="0" max="1000" step="1" placeholder="max" />
        </div>
        <h4>Calories</h4>
        <div>
            Between
            <input name="minCal" type="number" min="0" max="1000" step="1" placeholder="min" />
            and
            <input name="maxCal" type="number" min="0" max="1000" step="1" placeholder="max" />
        </div>
    </div>
    <div id="results">
        <h2>Entrees</h2>
        <ul class="menu">
            @foreach (BleakwindBuffet.Data.IOrderItem item in Model.Items)
            {
                <li>
                    <div class="menu-item">
                        <div class="item-name">@item.ToString()</div>
                        <div class="item-price">$@item.Price</div>
                        <div class="item-calories">@item.Calories Cal.</div>
                    </div>
                </li>
            }
        </ul>
        <h2>Sides</h2>
        <ul class="menu">
            @foreach (BleakwindBuffet.Data.IOrderItem item in Model.Items)
            {
                <li>
                    <div class="menu-item">
                        <div class="item-name">@item.ToString()</div>
                        <div class="item-price">$@item.Price</div>
                        <div class="item-calories">@item.Calories Cal.</div>
                    </div>
                </li>

            }
        </ul>
        <h2>Drinks</h2>
        <ul class="menu">
            @foreach (BleakwindBuffet.Data.IOrderItem item in Model.Items)
            {
                <li>
                    <div class="menu-item">
                        <div class="item-name">@item.ToString()</div>
                        <div class="item-price">$@item.Price</div>
                        <div class="item-calories">@item.Calories Cal.</div>
                    </div>
                </li>
            }
        </ul>
    </div>
</form>


